<div class="bottom-fade" aria-hidden="true"></div>

<script is:inline>
  (function () {
    var _ctx = null;

    function getCtx() {
      if (!_ctx) {
        var AC = window.AudioContext || window.webkitAudioContext;
        _ctx = new AC();
      }
      return _ctx;
    }

    function playKeyPress() {
      var ctx = getCtx();
      var osc = ctx.createOscillator();
      var gain = ctx.createGain();
      osc.connect(gain);
      gain.connect(ctx.destination);
      osc.type = "sine";
      osc.frequency.setValueAtTime(1100, ctx.currentTime);
      gain.gain.setValueAtTime(0.06, ctx.currentTime);
      gain.gain.exponentialRampToValueAtTime(0.0001, ctx.currentTime + 0.013);
      osc.start(ctx.currentTime);
      osc.stop(ctx.currentTime + 0.015);
    }

    document.addEventListener("click", function (e) {
      var link = e.target.closest("a[href]");
      if (!link) return;
      var ctx = getCtx();
      if (ctx.state === "suspended") {
        ctx.resume().then(playKeyPress);
      } else {
        playKeyPress();
      }
    });
  })();
</script>
